/*------------------------------------*\
              #FIRST_MENU
\*------------------------------------*/


.float_left {
    float: left;
}

.first_menu {
    
    width: 100%;
    background-color: #34495e;
    height: 80px;
    
}  

   

    .col-lg-16 img {

        position: absolute;
        top: 25px;
        left: 126px;

    }

        .col-lg-16 a:hover {

            color: white;

        }

    .help_menu {

        position: absolute;
        right: 0px;
        color: #feffff;
        font: 400 14px AFuturaOrtoBold;
        top: 33px;
        margin-right: 224px;
        

    }

    .username_menu {

        position: absolute;
        color: #feffff;
        font: 400 14px AFuturaOrtoBold;
        right: 0px;
        top: 33px;
        margin-right: 122px;
        
    }

        @media (max-width:510px) {

            .help_menu {

                position: absolute;
                top: 10px;
                left: 280px

            }

            .username_menu {

                position: absolute;
                top: 50px;
                left: 280px;
            }

        }


/*------------------------------------*\
              #SECOND_MENU
\*------------------------------------*/




.second_menu {
    
    width: 100%;
    margin-top: 1px;
    height: 170px;
    background-color: #95a0ab;
}

    .text_second_menu {

        position: relative;
        color: #feffff;
        font: 400 36px AFuturaOrtoBold;
        top: 21px;
        text-align: center;
        margin: 0;
    }

    .load_second_menu
        {
            margin-top: 50px;
            margin-right: 8%;
            margin-left: 8%;
            height: 29px;
            background-color: #34495e;
        }

        .white_load
        {
            height: 29px;
            background-color: #ffffff;
            width: 0%;
        }

        @media (max-width:456px)
            {
            .load_second_menu
            {
                margin-top: 30px;
            }

            }




/*------------------------------------*\
              #MAIN
\*------------------------------------*/



.container-form {
  margin-left: 9%;
  margin-right: 1%
    
}


@media (min-width: 1380px) {
    .container-big_res {
       width: 1380px;
       margin: auto;
/*
       margin-top: 10%;
       margin-bottom: 20%;
*/

    }
}


.multiform_title {
    
    margin-top: 42px;
    margin-bottom: 50px;
    left: 409px;
    width: 100%;
    text-align: center;
    color: #34495e;
    font: 400 24px AFuturaOrto;
    
}

.indent_40{
    margin-top: 40px;
}

.indent_20{
    margin-top: 20px;
}

.second_text_main {

        color: #34495e;
        font: 400 24px AFuturaOrto;
        position: relative;
        margin-top: 35px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

.indent_40_0 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.add_another{
    right: 1%;
    position: absolute;
}

    @media (max-width:767px)

    {

     #button_back {

            position: relative;
            margin: 0;
            top: 40px;
            left: 39%;

        }    

    #button_continue {

        position: relative;
        top: 130px;
        left: 39%;
        margin-left: -150px;

        }

    }


.block_center{
    width: 260px;
    display: block;
    margin: 0 auto;
}
.block_center .radio{
    display: block;
}

/*------------------------------------*\
              #FOOTER
\*------------------------------------*/


#footer {
    
    position: relative;
    /*top: 181px;*/
    height: 78px;
    background-color: #34495e;
    
}

    #copyright_footer {

        position: absolute;
        right: 0;
        left: 10%;
        top: 35px;
        width: 90%;
        color: #feffff;
        font: 400 14px AFuturaOrtoBold;

    }

   #footer a {

        color: #feffff;
        font: 400 14px AFuturaOrtoBold;
        position: absolute;
        top: 35px;
        right: 0;
        margin-right: 123px;

    }

    #footer a:nth-child(2) {

        margin-right: 260px;

    }

    @media (max-width:908px){

        #footer {

            height: 120px;

        }

        #footer a {

            top: 80px;
            left: 10%;
            width: 121px;
        }

        #footer a:nth-child(2) {

            left: 44%;
        }
    }



/*------------------------------------*\
-----------DOWNLOAD/SAVE-PAGE-----------
\*------------------------------------*/



/*------------------------------------*\
              #SECOND_MENU
\*------------------------------------*/



.text_second_menu_2 {
    
    position: relative;
    display: block;
    padding-top: 70px;
    padding-bottom:25px;
    margin: 0 auto;
    width: 670px;
    text-align: center;
    color: #33475f;
    font: 400 15.27pt AFuturaOrto;
    
}

#buttons_second_menu {
    
    position: relative;
    display: block;
    width: 872px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom:35px;
    left: 2%;

}

    #back_second_menu {

        border-style: none;
        background-color: #96a0ac;
        width: 242px;  
        height: 47px;
        margin-right: 50px;
        

    }

    #save_second_menu {
        
        
        background-color: #34495e;
        width: 242px;  
        height: 47px;
        margin-right: 50px;
        
    }

    #download_second_menu {

        background-color: #34495e;
        width: 242px;  
        height: 47px;

    }

@media (max-width:1050px) {
    
    .text_second_menu_2 {
        margin-left: 90px;

    }

    
    #buttons_second_menu {
        width: 300px;
        margin-left: 200px;
    }
    
    #back_second_menu,#save_second_menu {
        margin-bottom: 20px;
    }
    
    
}



/*------------------------------------*\
                #MAIN
\*------------------------------------*/

.container_2 {
    min-width: 900px;

}


#main {
    
    position: relative;
    background-color: #96a0ac;
    height: 1067px;

}

#pdf_main {
    
    position: absolute;
    right: 0;
    /*margin-right: 280px;*/
    margin-right: 23%;
    margin-left: 23%;
    margin-top: 60px;
    overflow: scroll;
    width: 660px;
    height: 760px;
    
}



#pdf_main img {
    
    width: 93%;
    
}

.scrollback_main {
    
    position: absolute;
    top: 60px;
    height: 71.3%;
    right: 0;
    margin-right: 22.5%;
    width: 10px;
}


@media (max-width:1050px)
{
    
    #pdf_main {
        margin-left: 130px;
    }
    
}

@media (min-width:1380px) {
    #main {
        padding: 60px;
    }
    #pdf_main{
        position: relative;      
        margin: auto;
        height: 900px;
    }
    
    .scrollback_main {
        display: none;
    }
    
}

/*------------------------------------*\
---------------FIRST-PAGE---------------
\*------------------------------------*/



* {
    margin: 0;
    padding: 0;
}



/*------------------------------------*\
              #FIRST_MENU
\*------------------------------------*/



.first_menu {
    
    width: 100%;
    background-color: #34495e;
    height: 80px;
    
}  

   

    #logo_first_menu {

        position: absolute;
        top: 25px;
        left: 126px;
        

    }

    #links_first_menu {
    
        position: absolute;
        top: 30px;
        
    }

    #links_first_menu a{
        
         font: 400 14px AFuturaOrtoBold;
         color: #ffffff;
    
    }

    #links_first_menu span {
        
        font: 400 14px AFuturaOrtoBold;
        color: #ffffff;

    }
    
   

        @media (max-width: 765px) {
            
            #nav_menu {
                
                left: -120px;
                
            }
            
            #links_first_menu {
                
                position: absolute;
                width: 100px;
                height: 80px;
                right: 0;
                top: 5px;
                margin-right: 5px;
            }
    
            
            #links_first_menu span {
                
               visibility: hidden;
                
            }
            
            
        }
   /* .login_menu {

        position: absolute;
        color: #feffff;
        font: 400 14px AFuturaOrtoBold;
        right: 0px;
        top: 30px;
        margin-right: 214px;
        color: #ffffff;
       
    }

.first_menu span {
    
    position: absolute;
    right: 0;
    top: 29px;
    margin-right: 206px;
    font: 400 14px AFuturaOrtoBold;
    color: #ffffff;
    
}

     .signin_menu {

        position: absolute;
        right: 0;
        top:30px;
        margin-right: 148px;
        color: #ffffff;
        font: 400 14px AFuturaOrtoBold;
        width: 56px;
        
    

    }

        .login_menu:hover,.signin_menu:hover {

            color: white;

        }

   

    


        @media (max-width:509px) {


           
            
            .login_menu {

                position: absolute;
                right: 0;
                top:15px;
                margin-right: 50px;


            }

            .signin_menu {

                position: absolute;
                right: 0;
                top:45px;
                margin-right: 50px;
                

            }
            
            .first_menu span {
                
                visibility: hidden;
                
            }


        }

                @media (max-width:350px) {
                    
                    .login_menu, .signin_menu {
                        
                        position: absolute;
                        left: 10px;
                        
                    }
                    
}
*/

#items_menu {
    
    position: absolute;
    top: 81px;
    background-color: #34495e;
    z-index: 1;
    width: 100%;
    
    
}


#akkordeon_menu {
    
    top: 5px;
    background-color: white;
    margin-right: 50px;
    
}

#nav_menu {
    
    position: relative;
    margin-left: 135px;
    
}

#nav_menu a{
    
    position: relative;
    margin-right: 60px;
    margin-top: 15px;
    padding: 0;
    color: #ffffff;
    font: 400 14px AFuturaOrto;
    
    
}

#header_container_menu {
    
    position: relative;
    top: 52px;
   
    height: 159px;
    background-color: #95a0ab;
    
}

#header_container_menu span{
    
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    color: #ffffff;
    font:51px  AFuturaOrto;
    text-shadow: 3px 0px 0px rgba(0, 0, 0, 1);

}

@media (max-width:743px) {
    
    #header_container_menu span {
        
        left: 0;
        width: 100%;
        bottom: 20%;
        font-size: 2.5em;
        
    }
    
}




#img_main {
    
    padding: 0;
    
}
#img_main img{
 
    position: relative;
    top: 52px;
    left: 0px;
    width: 100%;
    height: 100%;
    
}

.first_header_main {
    
    position: absolute;
    right: 0;
    top: 350px;
    margin-right: 120px;
    font-size: 38px;
    font-family:AFuturaOrto;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    width: 303px;

}

.second_header_main {
    
    position: absolute;
    right: 0;
    top: 500px;
    font-family:AFuturaOrto;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-right: 85px;
    
}

#create_main {
    
    position: absolute;
    right: 0;
    top: 670px;
    margin-right: 200px;
    width: 151px;
    font: 700 24px AFuturaOrto;
    background-color: #54cebf;

}

    @media (max-width:1055px) {



        .first_header_main {
            
            font-size: 2em;
            margin-right: 3%;
            margin-top: 1%;

        }
        
        .second_header_main {
            
           position: absolute;
            top: 470px;
            margin-right: 10.5%;
            width: 150px
           

        }
        
        #create_main {

            position: absolute;
            right: -65px;
            top: 595px;
            width: 80px;
            height: 30px;
            
            font-size: 10px;
        }

        
    }

    @media (max-width:822px) {

        .first_header_main {
            
            position: absolute;
            top: 280px;
            margin: 0 5px 0 0;
            text-align: right;
            font-size: 1em;


        }
        .second_header_main {

            position: absolute;
            top: 390px;
            margin: -60px 5px 0 0;
            right: 0;
            text-align: right;
            font-size: 1em;
            

        }
        #create_main {

            position: absolute;
            right: -195px;
            top: 400px;

        }

    }




#justlook {
    
    /*display: block;
    top: 307px;
     
    left: 273px;
    width: 200px;
    margin-left: 0px;*/
    top: 300px;
    right: 300px;
    font: 700 22px AFuturaOrtoBold;
    color: #454545;
  
    
}

#advantages span:first-child{
        

    position: relative;
    padding-left: 100px;
    padding-right: 0px;
    top: 350px;
    font: 700 22px AFuturaOrto;
    text-align: center;
    color: #454545;
  
}

#advantages span:nth-child(2) {
    
  
    position: relative;
    top: 350px;
    padding-left: 60px;
    font: 35px AFuturaOrtoBold;
    color: #454545;
    
}

        @media (max-width:750px) {
            
            #advantages {
                
                position: relative;
                right: 30px;
                top: -280px;
                margin: 0;
                padding: 0;
                
            }
            
            
            
}

      /*  @media (max-width:480px) {
            
            
            #justlook {
                
                top: 150px;
                margin-left: -155px;
                
                
            }

            #advantages {
                
                top: 150px;
                margin-left: 35px;
                
            }
            
            


        }*/

#center_row {
    
    width: 100%;
    
}

#first {
    
   top: 0px;
    /*position: absolute;
    top: 900px;
    right: 0;
    margin-right: 120px;
    /*margin-left: 800px;
    width: 420px;*/
   
    
}

#second  {
    
    top: -40px;
    /*position: relative;
    width: 410px;
    height: 100px;
    left: 800px;*/
    
}


#third {
    
    top: -70px;
    padding-right: 85px;
    /* position: relative;
    top: 70px;
    width: 440px;
    height: 100px;
    left: 800px;*/
    
    
}

#first h1, #second h1, #third h1 {
    
   font: 700 25px AFuturaOrtoBold;
    
}

#first span, #second span, #third span {
    
    font: 700 22px AFuturaOrto;
    
    
}

#first img, #second img, #third img {
    
    position: relative;
    right: 90px;
    top: 90px;
    
}



    
    @media (max-width:750px) {
        
        #first, #second, #third {
            
            padding-left: 100px;
            
        }
        
        #first h1, #second h1, #third h1 {
          
            font-size: 1.5em;
            
          
        }
        
        #first span, #second span, #third span {
            
            font-size: 1.2em;
            
            
        }
        
        #third {
            
            padding-right: 10px;
            
        }
        
    }
    
    

#blue-rectangle {
    
    top: 60px;
    height: 600px;
    left: 40px;
    /*position: relative;
    margin-left: 110px;
    top: 320px;
    left: 0px;
    width: 467px;
    height: 532px;
    margin-bottom: 252px;*/
   
    
}

#blue-rectangle img {
    
    /*position: absolute;*/
    z-index: -1;
}

#header_blue-rectangle {
    
    position: relative;
    top: -510px;
    text-align: center;
    width: 330px;
    padding: 0;
    margin-left: 80px;
    color: #fefefe;
    font: 700 36px / 48px AFuturaOrtoBold;
    
   /* text-align: center;
    padding-top: 69px;
    margin-left: 65px;
    width: 340px;*/
    
}

#header_blue-rectangle h1{
    
    line-height: 60px;
    
}

#blue-rectangle span {
    
    /*display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 65px;
    width: 350px;*/
    display: block;
    position: relative;
    top: -490px;
    margin-left: 65px;
    width: 350px;
    text-align: left;
    color: #fefefe;
    font: 300 15px / 24px AFuturaOrto;
    
}

#create_blue-rectangle {
    
    /*position: relative;
    left: 0;
    margin-left: 160px;
    top: 50px;
    width: 151px;*/
    position: relative;
    margin-left: 170px;
    top: -440px;
    background-color: #54cebf;
    
}

        @media (max-width:510px) {
            
            #blue-rectangle {
                
                padding: 0;
               /* width: 340px;
                padding: 0;*/
                
            }
            
            #blue-rectangle img {
                
                width: 100%;
                height: 100%;
              /*  width: 250px;
                height: 600px;*/
                
            }
            
            #header_blue-rectangle {
                
                top: -550px;
                margin-left: 0px;
                width: 100%;
                height: 100%;
                
            }  
            
            #header_blue-rectangle h1 {
                
                font-size: 0.5em;
                margin: 0 20px 0 20px;
                
            }
            
            #blue-rectangle span {
                
                width: 100%;
                padding: 10px;
                margin: 0 0 0 10px;
               
                
            }
            
            #create_blue-rectangle {
                
                margin: 0 0 0 5%;
                width: 90%;
                
                
            }
}



/*@media (max-width:1108px) {
    
    .blue-rectangle {
        
        position: absolute;
        top: 1616px;
        left: 0;
        margin-left: 20px;
        
    }
    
    }
    
    @media (max-width:467px) {
        
        .blue-rectangle img{
            
            display: block;
            margin-left: -17px;
            width: 355px;
            
            
        }
        .blue-rectangle h1 {
            
            font-size: 1.5em;
            margin-left: -10px;
            
        }
        .blue-rectangle span {
            
            margin-left: -11px;
            
        }
        
        #create_blue-rectangle {
            
            position: absolute;
            top: 356px;
            height: 40px;
            margin-left: 80px;
            
        }
        
        
    }
    
*/

#bottom {
    
    height: 600px;
    
}



#users {
    
    top: 30px;
    height: 600px;
    left: 10px;
    /* position: absolute;
    top: 1490px;
    margin-right: 100px;
    width: 388px;*/
}

#users h1 {
    
    position: relative;
    width: 340px;
    left: 100px;
    color: #454545;
    font: 300 30px / 48px AFuturaOrto;
    color: #454545;
    margin-left: 35px;
   
    
}

#users span{
    
    position: relative;
    display: block;
    color: #b0afaf;
    font: 700 15px / 24px AFuturaOrto;
    top: -400px;
    text-align: left;
    width: 283px;
    left: 160px;
    margin: 0;
}

.ramka_users {
    
    position: relative;
    top: 0px;
    left: 90px;
    
}

.users_users {
    
    position: relative;
    top: -350px;
    left: 240px;
    
    
}

#users p {
    
    position: relative;
    color: #b0afaf;
    font: 700 17px / 48px AFuturaOrto;
    left: 230px;
    top: -345px;
    width: 150px;
    
}

    @media (max-width: 990px) {
    
            #users {
            
            top: 150px;
            padding: 0;
            left: -50px;
            
        }
        
        #blue-rectangle {
            
            left: 0px;
            
            
        }
    
}

            @media (max-width: 510px) {
    
                #users {
                    
                    width: 90%;
                    
                    
                }
                
                #users h1 {
                    
                    margin: 0;
                    height: 0%;
                    text-align: center;
                    width: 80%;
                }
                
                #users span {
                    
                    width: 70%;
                    
                    margin: 0;
                    padding: 0;
                    left: 110px;
                    
                }
                
                .ramka_users {
                    
                  width: 80%;
                 height: 90%;
                    visibility: hidden;
                    
                }
                
                .users_users {
                    
                   left: 50%;
                   
                }
                
                #users p {
                    
                    left: 45%;
                    
                }
                
}           



#overlay{
    
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	

#window_login {
    width: 500px;
    margin: 10% 30%  auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    padding: 16px;
    border-radius: 10px;
}

#window_login img {
    
    position: relative;
    top: -17px;
    left: -16px;
    width: 107%;
    
    
}

#window_login .form-group {
    
    position: relative;
    top: -34px;
    width: 100%;
    
    
}


    @media (max-width:765px) {
            
        #window_login {
            
           margin: 23% 18%  auto;
            width: 490px;
		    
            
        }

        #login_forgot_password {
            
            position: relative;
            left: -15px;
            margin-left: 100px;

        }
            
    }

        @media (max-width:614px) {
            
            #window_login {
                
               
                width: 320px;
                 margin: 50% auto;
                left: 8%;
                right: 8%
               
                
            }

            #login_forgot_password {

                position: relative;
                left: -20px;
                margin-left: 100px;


            }
            
            #button_login {
                
                position: relative;
                
                
                
            }
            
            #window_login img {
                
               position: relative;
                width: 111%;
            
                
            }
            
            .header_login {
                
                position: relative;
                margin-top: 5px;
                
                
            }
            
}


.header_login {
    
    position: relative;
    top: -50px;
    margin-left: 10px;
    height: 37px;
    color: #ffffff;
    font: 700 15px AFuturaOrto;
    
}

#button_login {
    position: relative;
    background-color: #33475f;
    margin-left: 80px;
    padding: 2px 45px 2px 45px; 
    color: #ffffff;
    font: 700 15px AFuturaOrto;
}

#button_signup {
    position: relative;
    background-color: #33475f;
    margin-left: 80px;
    padding: 2px 45px 2px 45px;
    color: #ffffff;
    font: 700 15px AFuturaOrto;
}

#login_forgot_password {
    margin-left: 100px;
}

#window_login a, .login_sub_information a {
    color: #33475f;
    font: 300 15px  AFuturaOrto;
}

.login_sub_information{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.popup_signin {
    display: none;
    z-index: 200;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
}

.content_popup_signin {
    margin: 2% 30% auto;
    position: fixed;
    display: none;
    padding: 16px;
    background-color: #ffffff;
    width: 545px;
    z-index: 200;
    overflow: hidden;
    border-radius: 10px;
}
	
.img_header_signin {
    
    /*position: absolute;
    width: 45%;
    height: 443px;
    left: 342px;*/
    position: relative;
    top: -41px;
    right: 16px;
    z-index: -1;
        
    
}

.header_signin span:first-child {
    
    position: relative;
    margin-left: 20px;
    color: #ffffff;
    font: 700 20px AFuturaOrto;
    z-index: 1;
    
    
}

.header_signin a {
    
    position: relative;
    margin-left: 390px;
    color: #ffffff;
    
}

.header_signin a:hover {
    
     text-decoration: none;
    
}

#form_signin {
    
    position: relative;
    width: 100%;
    top: -20px;
    margin-left: 30px;
    right: 20px;
    
    
}

.slide_input input {
    margin-left: 40px;
}

#retype_signup {
    
    
    width: 90px;
    text-align: center;
   
}

.question_signup {
    
    position: relative;
    top: -110px;
    
    
    
}

.checkbox-sign_content_popup_signin {
    
    position: relative;
    top: -20px;
    margin-left: 110px;
    
}

.checkbox-sign_content_popup_signin span {
    
    display: block;
    font: 600 15px AFuturaOrto;
    position: relative;
    top: -25px;
    margin-left: 20px;
    width: auto;
    
    
    
}
.checkbox-sign_content_popup_signin span a {
    
   text-decoration: underline; 
    
}

.learnmore_signin {
    
    font: 600 15px AFuturaOrto;
    text-decoration: underline; 
    margin-left: 80px;
    
}

    @media (max-width:988px) {
    
        .content_popup_signin {
            
            margin: 20% 10% auto;
            
        }
        
        .question_signup {
    
            position: relative;
            top: -10px;
        }
        
    
}
            @media (max-width:615px) {
                
                .content_popup_signin, #inputname, #inputEmail, #inputPassword, #retypePassword {
                    
                    width: 80%;
                    
                }

                #retypePassword {
                    
                    margin-left: 40px;
                    
                }
                
                .img_header_signin {
                    
                    top: -65px;
                       
                }
                
                .header_signin a {
                    
                    
                    top: -20px;
                    margin-left: 90%;
                    color: #ffffff;

                }
                
                .checkbox-sign_content_popup_signin {
                    
                    margin-right: 50px;
                    
                }
                
                .learnmore_signin {
                    
                    display: block;
                    height: 20px;
                    padding-left: 30px;
                    padding-top: 10px;
                    
                    
                }

            }


/*------------------------------------*\
  ------------PAYMENT-----------------
\*------------------------------------*/


.HIMAKE_menu {
        position: absolute;
        color: #feffff;
        font: 400 14px AFuturaOrtoBold;
        right: 0px;
        top: 33px;
        margin-right: 239px;
        color: #ffffff;
        font: 400 18px AFuturaOrtoBold;
    }

        .HIMAKE_menu:hover {
            color: white;
        }
    .wheel_first_menu {

        position: absolute;
        right: 0;
        margin-right: 300px;
        width: 29px;
        height: 27px;
    }

    .exit_first_menu {

        position: absolute;
        right: 0;
        margin-right: 230px;
        width: 29px;
        height: 27px;
    }

        @media (max-width:660px) {

            .HIMAKE_menu {
                position: absolute;
                top: 20px;
                left: 280px;
            }
            .wheel_first_menu {
                position: absolute;
                right: 0;
                margin-right: 130px;
                margin-top: -20px;
                width: 29px;
                height: 30px;
            }

            .exit_first_menu {
                position: absolute;
                right: 0;
                margin-right: 130px;
                margin-top: 20px;
                width: 29px;
                height: 27px;
            }
        }


    .inf_payment {
        position: relative;
        margin-top: 130px;
        margin-bottom: 100px;
        text-align: center;
        color: #33475f;
        font: 300 24px AFuturaOrto;
    }
    .pdf_payment {
        position: relative;
        margin-top:120px;
        margin-left: 120px;
        width: 590px;
        background-color: #96a0ac;
        height: 1000px;
        border-radius: 10px;
        border-style: solid;
        border-color: #33475f;

    }
        .header_pdf_payment {
            position: relative;
            background-color: #33475f;
            top: -2px;
            left: -3px;
            width: 590px;
            height: 70px;
            border-radius: 10px 10px 0 0;
        }
            .header_pdf_payment span{
                position: absolute;
                color: #ffffff;
                font: 700 17.17px AFuturaOrto;
                z-index: 1;
                margin-top: 20px;
                margin-left: 20px;
            }
        #pdf_main_payment {
            position: absolute;
            right: 0;
            margin-right: 40px;
            margin-top: 35px;

            overflow: scroll;
            width: 90%;
            height: 870px;
        }
            #pdf_main_payment img {
                width: 500px;
                height: 1000px

            }
        .scrollback_main_payment {
            position: absolute;
            margin-top: 43px;
            right: 0;
            height: 868px;
            margin-right: 13px;
        }

@media (max-width:545px) {

                .pdf_main_payment {
                    margin-right: 70px;
                }
                .scrollback_main_payment {

                    margin-right: 9px;
                }


            }

    .order_payment {
        position: relative;
        margin-top: -1000px;
        right: 30px;
        border-radius: 10px;
        border-style: solid;
        border-color: #33475f;
        width: 350px;
        }

    .header_order_payment {
          position: relative;
          top: -3px;
          background-color: #33475f;
          height: 70px;
          border-radius: 10px 10px 0 0;
        }

            .header_order_payment span {
                position: absolute;
                color: #ffffff;
                font: 700 17.17px AFuturaOrto;
                margin: 20px 0 0 20px;
            }


            .left_content_order_payment li{
                display: block;
                list-style: none;
                margin: 30px 0 0 20px;
                width: 80px;
                font: 300 14px AFuturaOrto;
                color: #464646;

            }

            .right_content_order_payment li {
                position: relative;
                top: -125px;
                left: 110px;
                display: block;
                list-style: none;
                font: 700 14px AFuturaOrto;
                color: #464646;
                width: 197px;
                margin: 0 0 30px;

            }

            .line_content_order_payment {

                position: relative;
                top: -100px;
                width: 280px;
                margin: 0 30px;
                height: 2px;
                background-color: #01066e;
            }

            .total_content_order_payment {
                position: relative;
                top: -70px;
                font: 300 14px AFuturaOrto;
                color: #464646;
                margin-left: 20px;
            }

            .price_content_order_payment {
                position: relative;
                top: -70px;
                right: -125px;


            }

            .butt_content_order_payment {

                position: relative;
                top: -20px;
                left: 55px;
                width: 232px;
                border-style: none;
                background-color: #addfd4;

            }

            .butt_content_order_payment span {
                color: #33475f;
                font: 700 15.2px AFuturaOrto;
            }

    .advantages_payment {
        position: relative;
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 300px;
        right: -30px;
    }

        .item_advantages_payment span{

            font: 500 15.2px AFuturaOrto;
        }

        .item_advantages_payment h1{
            font: 700 22.2px AFuturaOrto;
        }

        .item_advantages_payment img {
            position: relative;
            top: 80px;
            right: 70px;
            width: 60px;

        }



    @media ( max-width:1199px) {
        
        .pdf_payment {
            margin: 0 4.5%;
            width: 600px;
        }
        .header_pdf_payment {
            width: 101%;
            
        }
        .order_payment{
            margin: 400px 55px 0 55px;
            position: relative;
            margin-top: 70px;

        }

        .advantages_payment {
            margin: 0 7%;
            position: relative;
            left: 50px;
            right: 0px;
            margin-bottom: 50px;
        }

    }

    @media (max-width:767px) {
        .scrollback_main_payment{
            margin-right: 15px;
            
            
        }
        .order_payment {
            position: relative;
            margin: 0 15%;
             margin-top: 70px;
        }

        .advantages_payment {
            position: relative;
            left: 60px;
        }

        .item_advantages_payment {
            width: 250px;
        }

    }


/*------------------------------------*\
  ------------ACCOUNT-----------------
\*------------------------------------*/

.undermenu_account {
    position: relative;
    margin-top: 2px;
    height: 170px;
    background-color: #95a0ab;
}

.undermenu_account span {
    width: 120px;
    display: block;
    position: relative;
    padding-top: 62px;
    margin-left: 110px;
    color: #34495e;
    font: 400 20px AFuturaOrto;
}

.line_account {
    position: relative;
    margin-top: 63px;
    margin: 0 80px 0 110px;;
    height: 2px;
    background-color: #ffffff;
    
}

.group_l-agr_account{
    margin-top: 120px;

}

.text_decor_underline {
    text-decoration: underline;
}

.l-agr_account {
    height: 221px;
    margin: 0 30px 30px 3.1%;
    border-style: solid;
    border-color: #34495e;
    border-radius:10px 10px 0 0;
    padding: 0;
}

    .header_l-agr_account {
        height: 47px;
        background-color: #234560;
        padding: 0;
        margin: 0;
    }

        .header_l-agr_account span{
            display: block;
            position: relative;
            color: #fbfdfe;
            font: 600 14px AFuturaOrto;
            margin-left: 18px;
            padding-top: 10px;
        }

    .l-agr_account img{
        margin: 25px;
    }
    
    .left_l-agr_account {
        position: relative;
        display: block;
        margin-top: -130px;
        margin-left: 170px;
        list-style: none;
        color: #34495e;
        width: 150px;
        font: 400 14px AFuturaOrtoBold;
        
    }
        .left_l-agr_account li{
            padding-bottom: 10px;
        }

        .notpaid_right_l-agr_account {
            position: relative;
            margin-top: -100px;
            left: 70%;
            width: 30%;
            list-style: none;
            color: #34495e;
            font: 400 14px AFuturaOrtoBold;
        }

        .notpaid_right_l-agr_account li {
            padding:5px 0;
            padding-left: 20px;

        }

            .notpaid_right_l-agr_account li:last-child {
                border-radius: 5px 0 0 5px;
                background-color: #aee0d2;
            }

        .notpaid_butt_account {
            position: relative;
            margin-top: 23px;
            left: 33%;
            height: 100px;
            width: 67%;
        }

            .view, .edit, .pay_now, .download, .send {
                width: 30%;
                height: 32px;
                background-color: #95a0ab;
                border-radius: 5px;
                border: none;
                color: #ffffff;
                font: 200 14px AFuturaOrtoBold;
            }

.paid_right_l-agr_account {
    position: relative;
    left: 70%;
    width: 30%;
    margin-top: -100px;
    list-style: none;
    color: #34495e;
    font: 400 14px AFuturaOrtoBold;
}

    .paid_right_l-agr_account li {
                padding:5px 0;
                padding-left: 20px;
            }

        .paid_right_l-agr_account li:last-child{
            background-color: #aee0d2;
            text-decoration: underline;
            border-radius: 5px 0 0 5px;
        }

        .paid_butt_account {
            position: relative;
            margin-top: 23px;
            left: 33%;
            width: 71%;
        }

/*1980px*/
@media (min-width:1980px) {
    .l-agr_account {
        height: 250px;
    }
}

/*471px*/
@media (max-width:471px) {

.l-agr_account {
    height: 250px;
 }

    .left_l-agr_account {
        display: block;
        margin-left: 120px;
        margin-bottom: 26px;
        width: 90px;
        height: 83px;
        padding: 0;

    }
        .notpaid_right_l-agr_account {
            position: relative;
            margin-bottom: 20px;
        }

        .paid_right_l-agr_account {
            position: relative;
            margin-bottom: 20px;
        }
            .notpaid_right_l-agr_account li:last-child {
                height: 36px;
                padding: 0;
            }
            .paid_right_l-agr_account li:last-child {
                height: 36px;
                padding: 0;
            }

    .notpaid_butt_account {
        position: relative;
        margin: -15px;
        left: 24%;
        width: 85%;
    }
    .paid_butt_account {
        position: relative;
        margin: -15px;
        left: 10%;
        width: 95%;
    }
}

.footer_account {
    position: relative;
    margin-top: 84px;
}


/*------------------------------------*\
  ------------ACCOUNT-SET-------------
\*------------------------------------*/

.title_account-set {
    position: relative;
    left: 14%;
    top: 40px;
    width: 50%;
    color: #33475f;
    font: 100 30px AFuturaOrto;
}

.basic-inf_account-set, .addres_account-set, .pass_account-set {
    padding-top: 30px;
}

.basic-inf_account-set label, .addres_account-set label, .pass_account-set label {
    color: #33475f;
    font: 100 15px AFuturaOrto;
}

    .subtitle_account-set {
        position: relative;
        font: 200 20px AfuturaOrto;
        color: #33475f;
        left: 9%;
        width: 70%;
    }

.basic-inf_account-set .form-group {
    padding-left: 2%;        
    margin: 5px;
    }

    .basic-inf_account-set label {
           padding-right: 30px;
           width: 20%;
        }

.container-butt_account-set {
    left: 6%;
    width: 70%;
}

    .save_account-set {
        background-color: #33475f;
        color: #ffffff;
        font: 100 14px AFuturaOrtoBold;
        width: 180px;
        border-style: none;
        margin: 20px 14px 20px 0;
    }

    .cancel_account-set {
        background-color: #95a0ab;
        border: none;
        color: #ffffff;
        font: 100 14px AFuturaOrtoBold;
        width: 180px;

    }

.line_account-set {
    position: relative;
    top: 30px;
    height: 2px;
    background-color: #33475f;
    margin: 0 7%;
}

.addres_account-set .checkbox {
    font:100 15px AFuturaOrto;
    margin-left: 2%;
}

.addres_account-set form {
    padding-bottom: 15px;
}

.addres_account-set {
   
    
    /*margin-left: 10%;
    width: 90%;
*/
    
}
.addres_account-set h2 {
    margin-left: -11%;
}

.addres_account-set .container-butt_account-set {
    left: -1%;
    
}
/*.streetadd_addres_account-set {
    width: 95%;
}

.apt_addres_account-set {
    position: relative;
    right: 9.5%;
}*/


.form-pass_account-set .form-group{
    padding-left: 7%;
    margin: 5px;
}


@media (max-width: 768px) {
    
    .addres_account-set .container-butt_account-set{
        position: relative;
        top: -25px;
    }
    .apt_addres_account-set{
        right: 0;
    }
    
    .streetadd_addres_account-set {
        width: 100%;
    }
}

@media (max-width: 470px) {
    
    .container-butt_account-set {
        padding-left: 24%;
    }
    
}

/*------------------------------------*\
  ------------RENT-1------------------
\*------------------------------------*/


.title {
    
    margin-top: 100px;
    margin-bottom: 50px;
    color: #33475f;
    font: 100 30px AFuturaOrto;
}


label, span{
    color: #33475f;
    font: 100 15px AFuturaOrto;
}

.of-the-week_rent-1 {
    position: relative;
    top: 5px;
    
}

.to-lessor_rent-1 {
    margin-top: 60px;
}

.to-lessor_rent-1 .checkbox {
    position: relative;
    margin: 0;
    left: -50%;
}

.back-button {
    background-color: #33475f;
    color: #ffffff;
    font: 100 14px AFuturaOrtoBold;
    width: 180px;
    border-style: none;
    margin: 20px 14px 20px 0;
}

.multiform_button_block{
    width: 390px;
    margin: 0 auto;
}

.continue-button {
        color: #ffffff;
        background-color: #96a0ac;
        font: 100 14px AFuturaOrtoBold;
        width: 180px;
        border-style: none;
        }
.container-butt {
    padding-bottom: 45px;
    padding-top: 15px;

    /*top: 121px;*/
}

.input_label{
    float: left;
}

.magic_input{
    padding-top: 13px;
}

.magic_input input[type=text]{
    margin-top: -13px;
}

.magic_input .fix_div{
    padding-left: 0;
    padding-right: 5px;
}

.magic_input .input_label{
    padding-right: 5px;
}

/*------------------------------------*\
  ------------ALLOWED------------------
\*------------------------------------*/

.smoking_allowed span, .pets_allowed span{
    
     font: 100 17px AFuturaOrtoBold;
}

.pets_allowed {
    position: relative;
    left: -3%;
    font: 100 17px AFuturaOrtoBold;

}

.smoking_allowed .yes-checkbox_allowed {
    position: relative;
    left: -5%;

}

.smoking_allowed .no-checkbox_allowed {
    position: relative;
    left: -2%;
}

.pets_allowed .no-checkbox_allowed {
    position: relative;
    left: 0%;
    
}

.pets_allowed .yes-checkbox_allowed {
    position: relative;
    left: 0%;
    
}

.specify_allowed {
    width: 80%;
    margin-top: 50px;
    position: relative;
    /*left: 190px;*/
    left: 11%;
}

/*.footer_allowed {
    position: relative;
    top: 136px;
}*/

    @media (max-width:767px ){
       .smoking_allowed .yes-checkbox_allowed 
        {
            position: relative;
            left: -11%;
        }

        .smoking_allowed .no-checkbox_allowed {
            position: relative;
            left: 5%;
        }
    }


/*------------------------------------*\
  ----------ADDITIONAL-TERMS----------
\*------------------------------------*/


.add-t_additional-terms{
    position: relative;
    top: 50px;
    left: 0%;
}

.add-t_additional-terms span {
    font: 100 17px AFuturaOrtoBold;
    
}

.add-t_additional-terms .yes-checkbox_allowed {
    position: relative;
    right: 2%;
}

.footer_additional-terms {
    position: relative;
    top: 125px;
    padding: -5px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}